<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Переход на страницу со ссылками на современные браузеры для ie9 и ниже -->
    <!--[if lt IE 10]><script>location.href='/old-browser.html';</script><![endif]-->
    <meta charset="UTF-8">
    <title>События</title>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/slick.css">
    <!--<link rel="stylesheet" href="/css/style2.css" />-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</head>
<body>
    <header class="header">
        <div class="wrapper header__wrapper">
            <span class="menu-btn"></span>
            <a href="/" class="logo header__logo"><img src="~/images/logo.svg" alt=""></a>
            <div class="header__breadcrumbs"><a href="#">Личный кабинет</a> - @ViewData["Caption"] </div>
            <a href="#" class="header__tool">
                <img src="~/images/user.svg" alt="" class="header__tool-icon">
                <span class="header__tool-text">test</span>
            </a>
            <span class="header__tool">
                <a href="#" style="text-decoration: none;"><img src="~/images/exit.svg" alt="" class="header__tool-icon"></a>
            </span>
        </div>
    </header><main class="sidebar-page">
        <aside class="sidebar sidebar-page__sidebar">
            <ul class="sidebar__menu">
                <li><a href="/Commands/Index"><img src="~/images/check-circle--grad.svg" alt=""><span>Клиенты</span></a></li>
                <li><a href="/Commands/Index"><img src="~/images/tag.svg" alt=""><span>Пользователи</span></a></li>
                <li><a href="/Commands/Index"><img src="~/images/calendar-check.svg" alt=""><span>Терминалы</span></a></li>
                <li><a href="/Commands/Index"><img src="~/images/chart.svg" alt=""><span>TID Банка</span></a></li>
                <li><a href="/Commands/Index"><img src="~/images/chart.svg" alt=""><span>Транзакции</span></a></li>
                <li><a href="/Commands/Index"><img src="~/images/chart.svg" alt=""><span>Логи Терминалов</span></a></li>
                <li><a href="/Commands/Index"><img src="~/images/chart.svg" alt=""><span>Кассы</span></a></li>
                <li><a asp-action="Index" asp-controller="Commands"><img src="~/images/chart.svg" alt=""><span>Привязать терминалы к клиенту списком</span></a></li>
               </ul> 
        </aside>
        <div class="sidebar-page__content">
            @RenderBody()
        </div>
    </main>    <footer class="footer">
        <div class="wrapper footer__wrapper">
            <div class="footer__text">ООО "ПромБудущее"</div>
            <a href="tel:+8432072102" class="footer__contact">
                <img src="~/images/phone.svg" alt="" class="footer__contact-icon">
                <span class="footer__contact-text">(843) 207-21-02</span>
            </a>
            <a href="mailto:support@a-plata.ru" class="footer__contact">
                <img src="~/images/envelope.svg" alt="" class="footer__contact-icon">
                <span class="footer__contact-text">support@a-plata.ru</span>
            </a>
            <div class="footer__text">© A-plata™, 2023</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>

    @RenderSection("Scripts", required: true)
</body>
</html>
